<!doctype html>
<html class="no-js" lang="zxx">


<!-- Mirrored from htmldemo.net/fastbuy/fastbuy/index-4.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 27 Aug 2023 10:02:46 GMT -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Home Version Four | FastBuy - Mega Shop eCommerce Bootstrap 4 Template</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="~/assets/images/favicon.ico">
    <!-- CSS
        ============================================ -->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="~/assets/css/font-awesome.min.css">
    <!-- Ionicons Font CSS -->
    <link rel="stylesheet" href="~/assets/css/ionicons.min.css">
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="~/assets/css/plugins.css">
    <!-- Helper CSS -->
    <link rel="stylesheet" href="~/assets/css/helper.css">
    <!-- Main Style CSS -->
    <link rel="stylesheet" href="~/assets/css/style.css">
    <!-- Modernizer JS -->
    <script src="~/assets/js/vendor/modernizr-3.11.2.min.js"></script>

    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

    <script src="~/Scripts/jquery-3.7.1.js"></script>

    <script src="~/Scripts/jquery.validate.js"></script>

    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

</head>

<body>
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <!-- Begin Body Wraper Area -->
    <div class="body-wrapper bg-white">
        <!-- Begin Header Area -->
        <header class="bg-midnight header-4">
            <!-- Begin Header Top Area -->
            <div class="header-top bg-white">
                <div class="container">
                    <div class="header-top-nav">
                        <div class="row">
                            @Html.Partial("~/Views/Layout/_LayoutHeadertop.cshtml")
                        </div>
                    </div>
                </div>
            </div>
            <!-- Header Top Area End Here -->
            <!-- Begin Header Middle Area -->
            @Html.Action("Menupartial", "Home")
            <!-- Header Middle Area End Here -->
            <!-- Begin Header Bottom Area -->
            @Html.Partial("~/Views/Layout/_LayoutSearch.cshtml")
            <!-- Header Bottom Area End Here -->
        </header>
        @RenderBody()

        @Html.Partial("~/Views/Layout/_Layoutfooter.cshtml")

    </div>
    <!-- Body Wraper Area End Here -->
    <!-- JS
        ============================================ -->
    <!-- jQuery JS -->
    <script src="~/assets/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="~/assets/js/vendor/jquery-migrate-3.3.2.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="~/assets/js/bootstrap.bundle.min.js"></script>
    <!-- Plugins JS -->
    <script src="~/assets/js/plugins.js"></script>
    <!-- Main JS -->
    <script src="~/assets/js/main.js"></script>
</body>


<!-- Mirrored from htmldemo.net/fastbuy/fastbuy/index-4.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 27 Aug 2023 10:02:51 GMT -->
</html>