@model WebsiteBanHang.Models.SanPham

@{
    ViewBag.Title = "ChinhSua";
    Layout = "~/Views/Layout/_LayoutAdmin.cshtml";
}
<script src="~/assets/tinymce/js/tinymce/tinymce.min.js"></script> @*sử dụng control editor tinymce*@
<script src="~/Scripts/textarea.js"></script>
<script src="~/Scripts/Checkimage.js"></script>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script>
    $(function () {
        $(".datepicker").datepicker();
    });
</script>
@using (Html.BeginForm("ChinhSua", "QuanLySanPham", FormMethod.Post, new
{
    @enctype = "multipart/from-data"
}))
{
    @Html.AntiForgeryToken()
<div class="form-horizontal">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.Hidden("MaSP", Model.MaSP)
    <div class="form-group">
        <label class="control-label col-md-2">Tên sản phẩm</label>
        <div class="col-md-12">
            @Html.EditorFor(model => model.TenSP, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.TenSP, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Đơn giá</label>
        <div class="col-md-12">
            @Html.EditorFor(model => model.DonGia, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.DonGia, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Ngày cập nhật</label>
        <div class="col-md-12">
            @Html.TextBoxFor(model => model.NgayCapNhat, "{0:dd-MM-yyyy}", new { @class = "form-control datepicker" })
            @Html.ValidationMessageFor(model => model.NgayCapNhat, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Cấu hình</label>
        <div class="col-md-12">
            @Html.EditorFor(model => model.CauHinh, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.CauHinh, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Mô tả</label>
        <div class="col-md-12">
            <form method="post">
                <textarea id="mytextarea" name="MoTa" class="form-control">@Model.MoTa</textarea>
            </form>
            @Html.ValidationMessageFor(model => model.MoTa, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Số lượng tồn</label>
        <div class="col-md-12">
            @Html.EditorFor(model => model.SoLuongTon, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.SoLuongTon, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Lượt xem</label>
        <div class="col-md-12">
            @Html.EditorFor(model => model.LuotXem, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.LuotXem, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Lượt bình chọn</label>
        <div class="col-md-12">
            @Html.EditorFor(model => model.LuotBinhChon, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.LuotBinhChon, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Lượt bình luận</label>
        <div class="col-md-12">
            @Html.EditorFor(model => model.LuotBinhLuan, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.LuotBinhLuan, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Số lần mua</label>
        <div class="col-md-12">
            @Html.EditorFor(model => model.SoLanMua, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.SoLanMua, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Mới</label>
        <div class="col-md-12">
            @Html.EditorFor(model => model.Moi, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Moi, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Nhà cung cấp</label>
        <div class="col-md-12">
            @Html.DropDownList("MaNCC", null, htmlAttributes: new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Nhà sản xuất</label>
        <div class="col-md-12">
            @Html.DropDownList("MaNSX", null, htmlAttributes: new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Loại sản phẩm</label>
        <div class="col-md-12">
            @Html.DropDownList("MaLoaiSP", null, htmlAttributes: new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Đã xóa</label>
        <div class="col-md-10">
            <div class="checkbox">
                @Html.EditorFor(model => model.DaXoa)
                @Html.ValidationMessageFor(model => model.DaXoa, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Hình ảnh</label>
        <div class="col-md-12">
            <input id="fileInput" name="HinhAnh" type="file" onchange="validateImage()" />
            <span style="color:red; font-size:13px;">@ViewBag.upload</span>
            <img src="@Url.Content("~/assets/images/product/" + Model.HinhAnh)" />

        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Hình ảnh 1</label>
        <div class="col-md-10">
            <input id="fileInput1" name="HinhAnh1" type="file" onchange="validateImage()" />
            <img src="@Url.Content("~/assets/images/product-mini/"+Model.HinhAnh1)" width="250" height="214" />
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Hình ảnh 2</label>
        <div class="col-md-10">
            <input id="fileInput2" name="HinhAnh2" type="file" onchange="validateImage()" />
            <img src="@Url.Content("~/assets/images/product-mini/"+Model.HinhAnh2)" width="250" height="214" />
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Hình ảnh 3</label>
        <div class="col-md-10">
            <input id="fileInput3" name="HinhAnh3" type="file" onchange="validateImage()" />
            <img src="@Url.Content("~/assets/images/product-mini/"+Model.HinhAnh3)" width="250" height="214" />
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Lưu" class="btn btn-primary" />
        </div>
    </div>
</div>
}
<style>
    .form-horizontal {
        max-width: 65%;
        margin: 0 auto;
        margin-top: 50px;
    }

    .f.form-group {
        display: block;
        margin-bottom: 10px;
    }

    .form-group label {
        display: block;
        font-weight: bold;
        margin-bottom: 5px;
    }

    /*.form-group .form-control {
        width: 120%;
    }*/
</style>